footer {
	a {
		img {

			display: inline-block;

			@include media('>tablet') {
				margin: 0;
			}

		}

		.mpmi {
			img {
				padding-right: 13px;
				border-right: 1px solid $site-light-border;
				margin-right: 14px;
			}
		}
	}



	color: $site-medium-text;
	i, a {
		color: $site-medium-text;
	}
}
.footer-top {
	background-color: $site-page-background;
	border-top: 4px solid $site-light-border;
	line-height: 23px;
	padding: 34px 0 0 0;

	h5 {
		color: $site-brand-color;
		@include themify($themes) {
			color: themed('color');
		}
		font-size: 14px;
	}

	.left-footer {
		background-image: url('/products/aps/releasedAssets/images/mag-footer-watermark.png');
		background-position: bottom right;
		background-repeat: no-repeat;
		padding: 10px 0 44px 0;
	}

	.equalHeightContainer {
		.equalHeightItem {
			border-left: 4px solid $site-light-border;
		}
	}
}
.footer-bottom {
	background-color: $site-brand-color;
	@include themify($themes) {
		background-color: themed('color');
	}
}

.copyright {
	float: none;
	font-size: 13px;
	text-align: center;
}

.contact {
	&__address {
		color: $site-dark-text;
		font-size: 12px;
		line-height: 25px;
		@include media('<tablet') {
			margin-left: 10px;
		}


		strong {
			font-size: 14px;
		}
	}
	&_streetaddress:before {
		color: $site-grey-logo;
		content: "\e95b";
		font-family: icomoon!important;
		padding-left: 7px;
		padding-right: 13px;
		speak: none;
	}
	&_phone:before {
		color: $site-grey-logo;
		content: "\e95a";
		font-family: icomoon!important;
		padding-left: 6px;
		padding-right: 12px;
		speak: none;
	}
	&_fax:before {
		color: $site-grey-logo;
		content: "FAX";
		font-size: 10px;
		font-weight: 900;
		padding-right: 7px;
	}
	&_twitter {
		border: 1px solid $site-light-border;
		border-radius: 20px;
		display: inline-block;
		font-size: 10px;
		padding: 2px 12px;
		.icon-twitter {
			color: $twitter-brand;
			font-size: 12px;
		}
	}
}

.equalHeightContainer {
	display: flex;
	flex-wrap: wrap;
}
.equalHeightItem {
	display: flex;
	flex-direction: column;
	flex-grow: 1
}