extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/facet/templates/facet/facet-tmpl.jade')
        h3 Data


        +printJson({
            "type": "Taxonomy",
            "title": "Taxonomy",
            "values": [
                {
                    "label": "Technical Topics",
                    "link": "#",
                    "count": 36,
                    "values": [
                        {
                            "link": "#",
                            "label": "Nick Gayeski",
                            "count": "4987"
                        },
                        {
                            "link": "#",
                            "label": "George Pess",
                            "count": "3463"
                        },
                        {
                            "link": "#",
                            "label": "Tim Beechie",
                            "count": "2346"
                        }
                    ]
                },
                {
                    "label": "Technical Topics",
                    "link": "#",
                    "count": 36,
                    "values": [
                        {
                            "link": "#",
                            "label": "Nick Gayeski",
                            "count": "4987"
                        },
                        {
                            "link": "#",
                            "label": "George Pess",
                            "count": "3463"
                        }
                    ]
                }
            ]
        })


    | #{''}

    section.source_section
        h2 Examples


        h3 Facet view - toggle more/less items

        .source_example
            | !{pb.render('facet', 'facet.json')}

        h3 Facet view - toggle nested
        
        .source_example
            | !{pb.render('facet', 'nested-facet.json')}

    | #{''}


