extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/remote-access-email-domains/templates/remote-access-email-domains/remote-access-email-domains-tmpl.jade')
        h3 Data
        markdown
        p The following data structure must exist to be able to use remote access email domains template.

        +printJson({
            "data": {
                "emailDomains": "val1,val2,val3,...",
                "showDomainConfirmation": "true/false to determine whether to show the confirmation popup or not",
                "serviceUrl": "Service URL",
                "labels": {
                    "emailDomainsInputLabel": "Email input field label",
                    "error": "Error message",
                    "updateButtonLabel": "Update button label",
                    "confirmation": "Confirmation Message",
                    "confirmationButtonLabel": "Confirmation button label"
                }
            }
        })

    | #{''}

    section.source_section
        h2 Example
        p The following example demonstrates remote access email domains.

        h3 Remote Access Email Domains
        .source_example
            .container
                | !{pb.render("remote-access-email-domains", "data.json")}

    | #{''}