extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade


    section.source_section
        h2 Usage

        h3 Include template
        +printJsCode('include /specs/ux3/molecules/figure-viewer/templates/figure-viewer/figure-viewer-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use Figure viewer template.
        +printJson({
            "config": {
                "figureViewer": {
                    "addClassNames": ["user-nav-custom-class"]
                }
            }
        })

        markdown
            p Figure viewer plugin depends on `figure` tag element. Whenever it triggers a `click` event the Figure viewer will be displayed.
            p You can add custom classes to the container element by passing an array of additional class names in `"addClassNames": ["...", "..."]`. Default class name is `figure-viewer`.

    | #{''}

    section.source_section
        h2 Example
        .source_example.source_visible
            | !{pb.render('figure', 'figure-list.json')}
            figure.figure.article__tabFigure(id="fig-4")
                img.figure__image(src="/specs/ux3/components/figure-viewer/images/image1.png", data-lg-src="/specs/ux3/components/figure-viewer/images/image1.png")
                img.figure__image(src="/specs/ux3/components/figure-viewer/images/image2.png", data-lg-src="/specs/ux3/components/figure-viewer/images/image2.png")
                img.figure__image(src="/specs/ux3/components/figure-viewer/images/image3.png", data-lg-src="/specs/ux3/components/figure-viewer/images/image3.png")
                figcaption
                    span.figure__title Fig. 4
                    span.figure__caption Figure with multiple images
            | !{pb.render('figure-viewer', 'figure-viewer.json')}
    | #{''}
