.side-tower {
	position: absolute;
	right: -150px;
}

.mobileOnlyAd {
	.pb-ad {
		@include media('>=desktop') {
			display: none;
		}
		@include media('<tablet') {
			display: table;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.tabletOnlyAd {
	.pb-ad {
		@include media('>=desktop') {
			display: none;
		}
		@include media('<desktop', '>=tablet') {
			display: table;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.allDevicesAd {
	.pb-ad {
		@include media('<=desktop') {
			display: table;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
}