extends ../../../../../../ux3/widgets/list-of-issues/templates/list-of-issues/extended/ext-tabs-tmpl.jade

block IssueState
    .clearfix
        if (item.isLegacy)
            i.icon-ic_history_black_24px
        if (item.access)
            .loi__access
                if item.access == 'FREE_ACCESS'
                    | OPEN
                else if item.access == 'OPEN_ACCESS'
                    | OPEN
            
block pageRange
    if (item.pageRange)
        div.iPageRange pp. 
            span !{item.pageRange}