.top-image {
	background-color: $site-brand-color;
	background-image: url('/pb-assets/ux3/images/hero-images/slideshow-background.jpg');
	background-position: top center;
	@include media('<desktop') {
		background-image: url('/pb-assets/ux3/images/hero-images/slideshow-background-small.jpg');
	}
	@include themify($themes) {
		background-color: themed('color');
		background-image: none;
	}
	height: 330px;
}
.slideshow-wrapper {
	margin-top: 0;
	padding: 0;
}
.slideShow {
	height: 330px;
}
.towerad {
	height: 600px;
	width: 120px;
	max-width: 100%;
	background: #ff00fb;
	display: block;
}

.visible {
	&-xlg {
		display: none;
		@media only screen and (min-width: 1734px) {
			display: block !important;
		}
	}
}

h2.pageTitle {
	color: $site-color-title;
}


.static-page {
	a {
		color: $site-brand-color;
		@include themify($themes) {
			color: themed('color');
		}
	}
}

.text-size-small {
	@include font-size(14);
}
.text-size-large {
	@include font-size(18);
}
.text-size-xlarge {
	@include font-size(24);
}
.apstable, .separator .apstable {
	border: 1px solid $site-dark-border;
	font-size: 0.8em;
	
	td, th {
		border: 1px solid $site-dark-border;
		padding: 0.5em;
		vertical-align: top;
	}
	
	thead {
		th {
			text-align: center;
		}
	}
	
	tbody { 
		tr:nth-child(odd) {
			background-color: $site-page-tint;
		}
	}
}

.just-published {
	.creative-work {
		border-bottom: 1px solid $teaser-border-color;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

}