
.source_subhead
    h1 APS specs
    p We follow the following flow implementing interface designs.
    br
    img(src="/specs/ux3/releasedAssets/images/atomic-modified.png", width="580")

.source_catalog(data-nav='./')
    h2 List of all specs
