extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    h1 Institutional Login page

    p.source_info
        |The Institutional login page template contains the following components: Header, Footer, Input, Accordion

    section.source_section
        h2 Institutional login
        markdown
        code.src-html
        .source_example

            | !{pb.render("header", "header.json")}
            main.content
                .container.institutional-login-page
                    .row
                        h2.page__header Select your institution
                    .row
                        .col-md-7.institution-login
                            .input-group
                                label(for="input-institutional-login") FEDERATION
                                select.jcf.institutional-login-input(id="input-institutional-login" datajcf='{"wrapNative": false,"wrapNativeOnMobile": false}' required )
                                    option Australian Access Federation (AAF)
                                    option Ipsum
                                    option Dolor


                            label SELECT YOUR INSTITUTE
                            ul.reset-padding
                                li
                                    a(href="#") AAF Virtual Home
                                li
                                    a(href="#") Deakin University
                                li
                                    a(href="#") Macquarie University
                                li
                                    a(href="#") Victoria Universityy
            | !{pb.render("footer", "footer.json")}
    | #{''}