extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-template-include-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/tweets/templates/tweets/tweets-tmpl.jade')
        h3 Data
        p The following data structure must exist to be able to use Tweets template.
        +printJson({
            "body": [
                {
                    "screenName": "TwitterDev",
                    "theme": "dark",
                    "height": "800"
                }
            ]
        })
        markdown
            table
                thead
                    tr
                        th Parameter
                        th Description
                        th Required
                tbody
                    tr
                        td `screenName`
                        td Twitter screen name
                        td yes
                    tr
                        td `theme`
                        td Theme of embedded Twitter timeline, `dark` or `light` (default)
                        td no
                    tr
                        td `height`
                        td height of embedded Twitter timeline, integer value `710` (default)
                        td no
    | #{''}

    section.source_section
        h2 Tweets iframe example
        
        .source_example
            | !{pb.render('tweets', {"body": [{"screenName": "TwitterDev", "theme": "dark"}]})}
            
    | #{''}