.advanced-search--filters {
	.timeFrame-to {
		display: inline;
		@include media('<desktop') {
			margin-top: 20px;
			display: block;
		}
		@include media ('<desktop', '>=tablet') {
			margin-left: 122px;
		}
	}
	label {
		@include media('<desktop') {
			width: 100%;
		}
	}
}
@include media('<tablet') {
	.searchIn--field {
		.jcf-select {
			width: 25%;
		}
		input {
			width: 60%;
		}
	}
}