extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/applied-facets/templates/applied-facets/applied-facets-tmpl.jade')
        h3 Data
        +printJson({
            "appliedFacets": [
                {
                    "label": "Art",
                    "link": ""
                },
                {
                    "label": "America",
                    "link": ""
                },
                {
                    "label": "English",
                    "link": ""
                }
            ]
        })

    | #{''}

    section.source_section
        h2 Examples


        h3 Filter view
        .source_example
            | !{pb.render('applied-facets', 'filter.json')}


    | #{''}


