extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    h1 Publication Browse page
    section.source_section
        h2 Browse small number of journals
        markdown
        code.src-html
        .source_example
            | !{pb.render("header", "header.json")}
            main.content
                .container
                    .row.title__primary__margin
                        | !{pb.render("browse-journals", "journals.json")}

            | !{pb.render("footer", "footer.json")}

    | #{''}