extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        h2 Badge Variations

        h3 Type badge
        markdown
            p In the example below we have added `badge-type` to the link item.
        .source_example
            a.badge-type(href='#') Type

        h3 Primary badge
        markdown
            p In the example below we have added `badge-primary` to the link item.
        .source_example
            a.badge-primary(href='#') Type

        h3 Open Access badge
        markdown
            p In the example below we have added `badge-oa` to the link item.
        .source_example
            a.badge-oa(href='#') Type

        h3 Free Access badge
        markdown
            p In the example below we have added `badge-fa` to the link item.
        .source_example
            a.badge-fa(href='#') Type
    | #{''}
