extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block content
    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade

    .source_info
        p This widget is to show cookie policy popup message whenever it is available.
    section.source_section
        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/cookie-policy/templates/cookie-policy/cookie-policy-tmpl.jade')
        h3 Data
        p The following data structure must exist.
        +printJson({
            "data": {
                "widget": {
                    "popupHTML": "CookieMessage"
                },
                "request": {
                    "attributes": {
                        "showCookiePolicy": true
                    }
                }
            }
        })

        markdown
            p Widget Properties
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `popupHTML`
                        td The html message to be shown in the popup

    section.source_section
        h2 example

        .source_example
            | !{pb.render("cookie-policy-popup", "cookie-policy-popup.json")}


    | #{''}