extends ../../../../../ux3/widgets/publication-content/templates/article/extended/ext-tabs-tmpl.jade

block tabsPrefix
    - var original = data;
    - var fakeId = "pcw";
    - var config = {"type":"flex","effect": "slide","vPort":"xsmall"};
    - var tabsData = {"nav":[{"text": "Details","icon": "icon-Icon_Information","class": "details","content": ""},{"text": "Figures","icon": "icon-Icon_Images","content": "","class": "figures"},{"text": "Literature&nbsp;Cited","icon": "icon-Icon_Links-References","content": "","class": "references"},{"text": "Related","icon": "icon-related2","class": "related","content": ""}]};
    - data = tabsData;


block detailsTab
    include detail-tabs-demo-chapter-tmpl.jade