extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    .source_info
        p This is not a UX3 widget, this is a legacy widget.


    section.source_section
        h2 Example
        p The following example demonstrates shibboleth login widget.

        h3 Shibboleth login
        .source_example
            .container.wrapper
                | !{pb.render("social-email", "data.json")}

    | #{''}


