.loginBar {
	
	.icon-userprofile:before {
		content: "\e610";
		color: $text-onDark;
		@include themify($themes) {
			color: $primary-text-color;
		}
	}
	
	.icon-profile_empty:before {
		content: "\e62f";
		color: $text-onDark;
		@include themify($themes) {
			color: $primary-text-color;
		}
	}
	
	.profile-text, .sign-in-label {
		@include font-size(10);
		color: $text-onDark;
		@include themify($themes) {
			color: $primary-text-color;
		}
	}

	.icon-profile_empty {
		padding-left: 15px;
	}
	.sign-in-label {
		padding-left: 15px;
	}

	@include media('<desktop') {
		.icon-userprofile {
			padding-left: 15px;
		}
	}

	@include media('<tablet') {
		.icon-profile_empty {
			padding-right: 15px;
		}
		.sign-in-label {
			padding-right: 15px;
		}
		.icon-userprofile {
			padding-right: 15px;
		}
	}
	
}

.navigation-login-dropdown-container {
	
	a {
		color: $primary-text-color;
	}
	
}