extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-template-include-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/pagination/templates/pagination/pagination-tmpl.jade')
        h3 Data
        p The Pagination component is using <strong>List</strong> component to render list of <strong>Hybrid item</strong> components.

        +printJson({
            "config": {
                "wrapper": {
                    "addClassNames": ["my-pagination-class", "another-class"]
                }
            },
            "data": {
                "pager": [
                    {
                        "active": "true",
                        "text": "1",
                        "itemurl": "#"
                    },
                    {
                        "active": "false",
                        "text": "2",
                        "itemurl": "#"
                    },
                    {
                        "active": "false",
                        "text": "3",
                        "itemurl": "#"
                    }
                ],
                "prevButton": {
                    "itemurl": "#prev"
                },
                "nextButton": {
                    "itemurl": "#next"
                }
            }
        })

        markdown
            p You can add custom classes to the container elements by passing an array of additional class names in `"addClassNames": ["...", "..."]` field for these elements. If you need to replace the default class name, use `"useClassNames": ["...", "..."]` instead. See the table below for the list of container elements and their default class names.

            table
                thead
                    tr
                        th Container element
                        th Default class name
                        th Description
                tbody
                    tr
                        td `wrapper`
                        td pagination
                        td Main component container

            p We are adding `pagination__list` class to the list to give it the pagination style.
            p `prevButton.itemurl` and `nextButton.itemurl` are used to set the URL for the navigation arrows.

    | #{''}

    section.source_section
        h2 Example
        +printJson({
            "data": {
                "pager": [
                    {
                        "active": "true",
                        "text": "1",
                        "itemurl": "#"
                    },
                    {
                        "active": "false",
                        "text": "2",
                        "itemurl": "#"
                    },
                    {
                        "active": "false",
                        "text": "3",
                        "itemurl": "#"
                    },
                    {
                        "active": "false",
                        "text": "4",
                        "itemurl": "#"
                    },
                    {
                        "active": "false",
                        "text": "5",
                        "itemurl": "#"
                    },
                    {
                        "active": "false",
                        "text": "6",
                        "itemurl": "#"
                    }

                ],
                "prevButton": {
                    "itemurl": "#prev"
                },
                "nextButton": {
                    "itemurl": "#next"
                }
            }
        })
        
        .source_example
            | !{pb.render('pagination', 'pagination.json')}

    | #{''}