.meta {
	&__right-side {

		@include media('>=tablet') {
			width: 20%;
			min-width: 142px;
		}
	}
	&__left-side {
		&.left-side-image {
			@include media('>=desktop') {
				.meta__info {
					margin-left: 0;
				}
			}
		}
	}
}