extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    section.source_section
        h2 Example

        h3 Co-Branding
        .source_example
            div.container
                | !{pb.render("co-branding", "data.json")}
            
        h3 Co-Branding - errors
        .source_example
            div.container
                | !{pb.render("co-branding", "data-errors.json")}

        h3 Co-Branding - success
        .source_example
            div.container
                | !{pb.render("co-branding", "data-success.json")}

    | #{''}