extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-template-include-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/client-pagination/templates/client-pagination/client-pagination-tmpl.jade')


    section.source_section

        h2 Example 22

        .source_example

                table.client-pagination-table(role='grid')
                    thead
                        tr
                            th  Email Address
                            th  Name
                    tbody
                       -var i=0;
                       while i < 50
                            tr.tablerow
                                td abc@atypon.com!{i}
                                td ABC !{i}
                            -i=i+1


                .client-pagination.clearfix
                    .controls
                        a(href="#" title="Previous").pagination__btn--prev
                        span.pages
                        a(href="#" title="Next").pagination__btn--next
                        input.current_page(type='hidden', value='0')
                        input.show_per_page(type='hidden', value='5')
                        input.pages-displyed(type='hidden', value='7')

    | #{''}