.article {
	&__breadcrumbs {
		
		a + a:before {
			content: ' >';
			margin-left: 5px;
		}
		a:last-of-type {
			color: $site-medium-text;
		}
		.article__tocHeading {
			font-weight: 400;
		}
		.article__title {
			display: inline-block;
		}
	}
}