extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Refworks widget
            h3 Include template
            +printJsCode('include /specs/ux3/widgets/refworks-citations/templates/refworks-citations/refworks-citations-tmpl.jade')
        h3 Data
        markdown
            p The following the JSON structure must exist to be able to use Quick search form template.
        +printJson({
            "data": {
                "lines": [
                    "\r\n\r\n",
                    "TY -JOUR\r\n",
                    "T1  - A multigene test for the risk of sporadic breast carcinoma\r\n",
                    "AU  - David E. Comings\r\n",
                    "AU  - Radhika Gade‐Andavolu\r\n"
                ],
                "actionLink": "http://www.refworks.com/express/ExpressImport.asp?vendor=Publisher+Name&filter=RIS%20Format&encoding=65001"
            }
        })
    | #{''}

    section.source_section
        h2 Example
        p The following example demonstrates Refworks form.
        .source_example
            .container
                | !{pb.render("refworks-citations", "data.json")}
    | #{''}