extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade

    section.source_section
        h2 Tabs widget sample
        p Tabs widget is using #[a(href="/specs/ux3/components/tabs/") Tabs] template in component and it uses #[a(href="/specs/products/fum/widgets/render-inline/") pb.render] to render those tabs.
        .source_example
            | !{pb.render("tabs-widget", "content.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        p The following the JSON structure Provided by the Front-end:
        +printJson({
            "data": {
                "widget": {
                    "type": "flex",
                    "dynamic": false,
                    "hideEmpty": false,
                    "altBehavior": true,
                    "effect": "slide",
                    "vPort": "medium",
                    "id": "m1x",
                    "tabIds": [
                        "pane-m1x0con",
                        null,
                        "pane-m1x1con",
                        "pane-m1x2con"
                    ],
                    "tabLabels": [
                        "Figures",
                        "Access",
                        "References",
                        "Related"
                    ],
                    "tabClasses": [
                        "icon-shoppingcart",
                        "icon-permissions",
                        "icon-search",
                        "icon-profile_empty"
                    ],
                    "tabUrls": [
                        null,
                        "/home",
                        null,
                        null
                    ]
                }
            },
            "errors": []
        })

        p For more details about tabs please visit #[a(href="/specs/ux3/components/tabs/") Tabs components].

    | #{''}
