extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    .source_section
        h2 Background colors
        .source_example.colors-palette
            ul.rlist--inline.bg-colors
                li
                    div.default-bg-color.block
                    p $default-bg-color
                li
                    div.primary-bg-color.block
                    p $primary-bg-color
                li
                    div.primary-lighten-bg-color.block
                    p $primary-lighten-bg-color
                li
                    div.secondary-bg-color.block
                    p $secondary-bg-color

                li
                    div.secondary-lighten-bg-color.block
                    p $secondary-lighten-bg-color
                li
                    div.tertiary-bg-color.block
                    p $tertiary-bg-color

    | #{''}
    .source_section
        h2 Text colors
        .source_example.colors-palette
            ul.rlist--inline.text-colors
                li
                    div.primary-text-color.block Aa
                    p $primary-text-color
                li
                    div.primary-darken-text-color.block Aa
                    p $primary-darken-text-color
                li
                    div.secondary-text-color.block Aa
                    p $secondary-text-color
                li
                    div.tertiary-text-color.block Aa
                    p $tertiary-text-color
                li
                    div.tertiary-darken-color.block Aa
                    p $tertiary-darken-color
                li
                    div.text-onLight.block Aa
                    p $text-onLight
                li
                    div.text-onDark.primary-bg-color.block Aa
                    p $text-onDark
                li
                    div.primary-link-color.block Aa
                    p $primary-link-color
    | #{''}

    .source_section
        h2 Social media colors
        .source_example.colors-palette
            ul.rlist--inline.bg-colors
                li
                    div.social-login-separators-color.block
                    p $social-login-separators-color
                li
                    div.facebook.block
                    p $facebook
                li
                    div.twitter.block
                    p $twitter
                li
                    div.googlePlus.block
                    p $googlePlus
                li
                    div.linkedin.block
                    p $linkedin
                li
                    div.rss.block
                    p $rss
    | #{''}

    .source_section
        h2 Other colors
        .source_example.colors-palette
            ul.rlist--inline.bg-colors
                li
                    div.hover-secondary-link-color.block
                    p $hover-secondary-link-color
                li
                    div.separators-color.block
                    p $separators-color
                li
                    div.header-separators-color.block
                    p $header-separators-color
                li
                    div.search-bg-color.block
                    p $search-bg-color
                li
                    div.white.block
                    p $white
                li
                    div.black.block
                    p $black
                li
                    div.grey.block
                    p $grey
                li
                    div.light-grey.block
                    p $light-grey
                li
                    div.darker-grey.block
                    p $darker-grey

                li
                    div.dark-grey.block
                    p $dark-grey
                li
                    div.modal-close-button-color.block
                    p $modal-close-button-color
                li
                    div.modal-backdrop-color.block
                    p $modal-backdrop-color
                li
                    div.loi-button-bg-color.block
                    p $loi-button-bg-color
                li
                    div.refine-search-shadow-color.block
                    p $refine-search-shadow-color
                li
                    div.slider-nav-bg-color.block
                    p $slider-nav-bg-color
                li
                    div.slider-nav-hover-bg-color.block
                    p $slider-nav-hover-bg-color
                li
                    div.dropzone-bg-color.block
                    p $dropzone-bg-color
                li
                    div.dropzone-bg-hover-color.block
                    p $dropzone-bg-hover-color
                li
                    div.dropzone-text-color.block
                    p $dropzone-text-color
                li
                    div.dropzone-border-color.block
                    p $dropzone-border-color
    | #{''}