-
    var mainBundleUrl = '/specs/products/aps/releasedAssets/js/main.bundle.js';
    var lazyBundleUrl = '/specs/products/aps/releasedAssets/js/build.lazyload.bundle.js';

    if (production) {
        mainBundleUrl = '/products/aps/releasedAssets/js/' + (assets['main.bundle.js'] || 'main.bundle.js');
        lazyBundleUrl = '/products/aps/releasedAssets/js/' + (assets['build.lazyload.bundle.js'] || 'build.lazyload.bundle.js');
    }

script(src=lazyBundleUrl)
script(src=mainBundleUrl)
