extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
markdown
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `display`
                        td Style of parent item
                    tr
                        td `title`
                        td  Issue type
                    tr
                        td `volume`
                        td  Isssue volume
                    tr
                        td `issue`
                        td  Isssue number

block content
    .source_info
        p The <strong>Parent item</strong> component is included in the following components: #[a(href="../citation/") Citation], #[a(href="../../teaser/") Creative work]

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/parent-item/templates/parent-item/parent-item-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use Parent item template.
        +printJson({
            "config":{
                "display": "compact"
            },
            "data": {
                "title": "FACETS",
                "volume": 2,
                "issue": 5
            }
        })


        markdown
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `display`
                        td Style of parent item
                    tr
                        td `title`
                        td  Issue type
                    tr
                        td `volume`
                        td  Isssue volume
                    tr
                        td `issue`
                        td  Isssue number


    | #{''}

    section.source_section
        h2 Examples

        h3 All data provided
        p In this example we pass full data object (title, volume number, issue number).
        .source_example
            | !{pb.render('parent-item', {"data": {"title": "FACETS", "volume": 2, "issue": 5}})}


        h3 No issue number
        p In this example we omitted the issue number.
        .source_example
            | !{pb.render('parent-item', {"data": {"title": "FACETS", "volume": 2}})}

    | #{''}