extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade

    section.source_section
        h2 Usage
        h3 Data
            +printJson({
                "data": {
                    "type": "chart",
                    "title": "Filter Date",
                    "values": {
                        "minDate": 1898,
                        "maxDate": 2017,
                        "queryID": "62/103",
                        "yearWeights": [3.7993920972644377E-4, 0.006648936170212766, 0.001709726443768997, 0.003609422492401216, 0.004559270516717325, 0.006648936170212766, 0.008738601823708206, 0.008548632218844984, 0.00911854103343465, 0.010828267477203647, 0.0121580547112462, 0.0055091185410334345, 0.005319148936170213, 0.0060790273556231, 0.006458966565349544, 0.004369300911854103, 0.012917933130699088, 0.015767477203647417, 0.017477203647416412, 0.017287234042553192, 0.015577507598784195, 0.014627659574468085, 0.016717325227963525, 0.022226443768996962, 0.03115501519756839, 0.03286474164133739, 0.0398936170212766, 0.04027355623100304, 0.0442629179331307, 0.051101823708206685, 0.04996200607902736, 0.04160334346504559, 0.05661094224924012, 0.04673252279635259, 0.05528115501519757, 0.056800911854103346, 0.051101823708206685, 0.05224164133738602, 0.05319148936170213, 0.051101823708206685, 0.07351823708206687, 0.056800911854103346, 0.06724924012158055, 0.06363981762917933, 0.05604103343465046, 0.05357142857142857, 0.047872340425531915, 0.04521276595744681, 0.04882218844984802, 0.07408814589665653, 0.06743920972644377, 0.07503799392097264, 0.08567629179331307, 0.09954407294832827, 0.09935410334346505, 0.10581306990881459, 0.11189209726443769, 0.11873100303951367, 0.12177051671732522, 0.1337386018237082, 0.14095744680851063, 0.16432370820668693, 0.16964285714285715, 0.15976443768996962, 0.14627659574468085, 0.14798632218844984, 0.1510258358662614, 0.14019756838905775, 0.16850303951367782, 0.17933130699088146, 0.15463525835866263, 0.1850303951367781, 0.19034954407294832, 0.20155775075987842, 0.17154255319148937, 0.17078267477203649, 0.17154255319148937, 0.2030775075987842, 0.18977963525835867, 0.2490501519756839, 0.2638677811550152, 0.28305471124620063, 0.27032674772036475, 0.29464285714285715, 0.3288373860182371, 0.3768996960486322, 0.3901975683890577, 0.4036854103343465, 0.4895516717325228, 0.5077887537993921, 0.5237462006079028, 0.6109422492401215, 0.6204407294832827, 0.6331686930091185, 0.6810410334346505, 0.7095364741641338, 0.7420212765957447, 0.6878799392097265, 0.743161094224924, 0.7967325227963525, 0.7414513677811551, 0.7256838905775076, 0.7661474164133738, 0.7952127659574468, 0.7659574468085106, 0.7583586626139818, 0.7386018237082067, 0.8377659574468085, 0.8276975683890577, 1.0, 0.8069908814589666, 0.7446808510638298, 0.70459726443769, 0.6818009118541033, 0.6899696048632219, 0.6071428571428571, 0.5706686930091185, 0.5811170212765957, 0.5545212765957447, 0.28856382978723405]
                    }
                }
            })

        h3 Include template
        +printJsCode('include /specs/ux3/components/facet-date/templates/facet-date-chart/facet-date-chart-tmpl.jade')

    section.source_section
        h2 Date Range Chart Facet
        .source_example
            | !{pb.render('facet-date-chart', 'chart.json')}


    | #{''}

