.table-of-content
    nav.toc__section
        a(href="#" data-db-target-for="sections" data-db-switch="icon-close_thin" title="Go To Sections" data-slide-target="#sections" class="w-slide__btn")
            i.icon-toc
            span Sections
        div(id="sections")
            ul(data-db-target-of="sections" class="sections__drop rlist separator scroll-to-target")
    h2.tocHeading
        .subject.heading-1 Editorial
    .issue-item
        .badges
            span.badge-type.badge-fa FREE ACCESS
        span.pull-right.code August 2018
        h5.issue-item__title
            a(href="#") Mechanisms of Broad Host Range Necrotrophic Pathogenesis in Sclerotinia sclerotiorum
        ul.rlist--inline.loa(aria-label="author")
            li
                a(href="#" title="Xiaofei Liang")
                    span Xiaofei Liang
                span  and 
            li
                a(href="#" title="Jeffrey A. Rollins")
                    span Jeffrey A. Rollins
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 1128–1140
            li
                span Date:
                | 30 August 2018
        p
            a(href="#") https://doi.org/10.1094/PHYTO-06-18-0197-RVW
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="Full text" href="#")
                        span Full text
                        i.icon.icon-full-text
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
                li
                    a(title="PDF Plus" href="#")
                        span PDF Plus
                        i.icon.icon-file-pdf
                li
                    a(href="#")
                        span References
                        i.icon.icon-Icon_Links-References
                li.supplementalLink
                    a(href="#" title="Supplemental Materials")
                        span Supplemental Materials
                        i.icon.icon-Icon_Links-Supplements
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
                .accordion__content.toc-item__abstract(style="display: none;") Among necrotrophic fungi, Sclerotinia sclerotiorum is remarkable for its extremely broad host range and for its aggressive host tissue colonization. With full genome sequencing, transcriptomic analyses and the increasing pace of functional gene ...
                i
    .issue-item
        .badges
            span.badge-type.badge-oa OPEN ACCESS
        span.pull-right.code August 2018
        h5.issue-item__title
            a(href="#") Mechanisms of Broad Host Range Necrotrophic Pathogenesis in Sclerotinia sclerotiorum
        ul.rlist--inline.loa(aria-label="author")
            li
                a(href="#" title="Xiaofei Liang")
                    span Xiaofei Liang
                span  and
            li
                a(href="#" title="Jeffrey A. Rollins")
                    span Jeffrey A. Rollins
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 1128–1140
            li
                span Date:
                | 30 August 2018
        p
            a(href="#") https://doi.org/10.1094/PHYTO-06-18-0197-RVW
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="Full text" href="#")
                        span Full text
                        i.icon.icon-full-text
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
                li
                    a(title="PDF Plus" href="#")
                        span PDF Plus
                        i.icon.icon-file-pdf
                li
                    a(href="#")
                        span References
                        i.icon.icon-Icon_Links-References
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
                div.accordion__content.toc-item__abstract(style="display: none;") Among necrotrophic fungi, Sclerotinia sclerotiorum is remarkable for its extremely broad host range and for its aggressive host tissue colonization. With full genome sequencing, transcriptomic analyses and the increasing pace of functional gene ...
                i
    h2.tocHeading
        .subject.heading-1 Some Other Article Type
    .issue-item
        span.pull-right.code August 2018
        h5.issue-item__title
            a(href="#") Mechanisms of Broad Host Range Necrotrophic Pathogenesis in Sclerotinia sclerotiorum
        ul.rlist--inline.loa(aria-label="author")
            li
                a(href="#" title="Xiaofei Liang")
                    span Xiaofei Liang
                span  and
            li
                a(href="#" title="Jeffrey A. Rollins")
                    span Jeffrey A. Rollins
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 1128–1140
            li
                span Date:
                | 30 August 2018
        p
            a(href="#") https://doi.org/10.1094/PHYTO-06-18-0197-RVW
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="Full text" href="#")
                        span Full text
                        i.icon.icon-full-text
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
                li
                    a(title="PDF Plus" href="#")
                        span PDF Plus
                        i.icon.icon-file-pdf
                li
                    a(href="#")
                        span References
                        i.icon.icon-Icon_Links-References
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
                .accordion__content.toc-item__abstract(style="display: none;") Among necrotrophic fungi, Sclerotinia sclerotiorum is remarkable for its extremely broad host range and for its aggressive host tissue colonization. With full genome sequencing, transcriptomic analyses and the increasing pace of functional gene ...
                i
    .issue-item
        span.pull-right.code August 2018
        h5.issue-item__title
            a(href="#") Mechanisms of Broad Host Range Necrotrophic Pathogenesis in Sclerotinia sclerotiorum
        ul.rlist--inline.loa(aria-label="author")
            li
                a(href="#" title="Xiaofei Liang")
                    span Xiaofei Liang
                span  and
            li
                a(href="#" title="Jeffrey A. Rollins")
                    span Jeffrey A. Rollins
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 1128–1140
            li
                span Date:
                | 30 August 2018
        p
            a(href="#") https://doi.org/10.1094/PHYTO-06-18-0197-RVW
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="Full text" href="#")
                        span Full text
                        i.icon.icon-full-text
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
                li
                    a(title="PDF Plus" href="#")
                        span PDF Plus
                        i.icon.icon-file-pdf
                li
                    a(href="#")
                        span References
                        i.icon.icon-Icon_Links-References
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
                .accordion__content.toc-item__abstract(style="display: none;") Among necrotrophic fungi, Sclerotinia sclerotiorum is remarkable for its extremely broad host range and for its aggressive host tissue colonization. With full genome sequencing, transcriptomic analyses and the increasing pace of functional gene ...
                i
    .issue-item
        span.pull-right.code August 2018
        h5.issue-item__title
            a(href="#") Mechanisms of Broad Host Range Necrotrophic Pathogenesis in Sclerotinia sclerotiorum
        ul.rlist--inline.loa(aria-label="author")
            li
                a(href="#" title="Xiaofei Liang")
                    span Xiaofei Liang
                span  and
            li
                a(href="#" title="Jeffrey A. Rollins")
                    span Jeffrey A. Rollins
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 1128–1140
            li
                span Date:
                | 30 August 2018
        p
            a(href="#") https://doi.org/10.1094/PHYTO-06-18-0197-RVW
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="Full text" href="#")
                        span Full text
                        i.icon.icon-full-text
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
                li
                    a(title="PDF Plus" href="#")
                        span PDF Plus
                        i.icon.icon-file-pdf
                li
                    a(href="#")
                        span References
                        i.icon.icon-Icon_Links-References
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
                .accordion__content.toc-item__abstract(style="display: none;") Among necrotrophic fungi, Sclerotinia sclerotiorum is remarkable for its extremely broad host range and for its aggressive host tissue colonization. With full genome sequencing, transcriptomic analyses and the increasing pace of functional gene ...
                i
    .issue-item
        span.pull-right.code August 2018
        h5.issue-item__title
            a(href="#") Mechanisms of Broad Host Range Necrotrophic Pathogenesis in Sclerotinia sclerotiorum
        ul.rlist--inline.loa(aria-label="author")
            li
                a(href="#" title="Xiaofei Liang")
                    span Xiaofei Liang
                span  and
            li
                a(href="#" title="Jeffrey A. Rollins")
                    span Jeffrey A. Rollins
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 1128–1140
            li
                span Date:
                | 30 August 2018
        p
            a(href="#") https://doi.org/10.1094/PHYTO-06-18-0197-RVW
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="Full text" href="#")
                        span Full text
                        i.icon.icon-full-text
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
                li
                    a(title="PDF Plus" href="#")
                        span PDF Plus
                        i.icon.icon-file-pdf
                li
                    a(href="#")
                        span References
                        i.icon.icon-Icon_Links-References
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
                .accordion__content.toc-item__abstract(style="display: none;") Among necrotrophic fungi, Sclerotinia sclerotiorum is remarkable for its extremely broad host range and for its aggressive host tissue colonization. With full genome sequencing, transcriptomic analyses and the increasing pace of functional gene ...
                i