.table-of-content
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") Front matter
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | i–ix
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.fm
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
                li
                    a(title="ePUB" href="#")
                        span ePUB
                        i.icon.icon-full-text
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 1: Early Theories and Discoveries Regarding Fire Blight
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 3-14
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.002
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 2: Spread and Current Distribution of Fire Blight
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 15-36
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.003
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 3: Losses Due to Fire Blight and Economic Importance of the Disease
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 37-41
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.004
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 3: Losses Due to Fire Blight and Economic Importance of the Disease
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 37-41
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.004
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 3: Losses Due to Fire Blight and Economic Importance of the Disease
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 37-41
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.004
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 3: Losses Due to Fire Blight and Economic Importance of the Disease
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 37-41
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.004
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 3: Losses Due to Fire Blight and Economic Importance of the Disease
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 37-41
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.004
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
    .issue-item
        .badges
        span.pull-right.code August 2016
        h5.issue-item__title
            a(href="#") CHAPTER 3: Losses Due to Fire Blight and Economic Importance of the Disease
        ul.rlist--inline.loa
            li T. van der Zwet
                span , 
            li N. Orolaza-Halbrendt
                span , 
            li W. Zeller
        ul.rlist--inline.separator.toc-item__detail
            li
                span Pages:
                | 37-41
            li
                span Date:
                | 10 August 2016
        p
            a(href="#") https://doi.org/10.1094/9780890544839.004
        .toc-item__footer
            ul.rlist--inline.separator.toc-item__detail
                li
                    a(title="Abstract" href="#")
                        span Abstract
                        i.icon.icon-abstract
                li
                    a(title="PDF" href="#")
                        span PDF
                        i.icon.icon-file-pdf
            .accordion
                a(href="#" title="Preview Abstract" class="accordion__control" aria-expanded="false")
                    i.icon-section_arrow_d
                    | Preview Abstract
            .accordion__content.toc-item__abstract(style="display: none;") The front matter comprises the title page, copyright page, dedication, foreword, preface, and acknowledgments. The foreword, written by Sherm Thomson (retired plant pathologist at Utah State University, Logan), discusses the need for an updated book on ...
