extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade



block content

    h1 Article Body


    section.source_section
        h2 Article page
        markdown
        code.src-html
        .source_example
            | !{pb.render("publication-content", "demo/article", "content.json")}
    | #{''}