extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/author-services/templates/author-services/author-services-tmpl.jade')
        h3 Data
        p The following data structure must exist to be able to use author services template.

        +printJson({
            "data": {
                "currentPerson": {
                    "authoredContent": [
                        {
                            "content": {
                                "title": "The Risk of Treatment-Emergent Mania With Methylphenidate in Bipolar Disorder",
                                "doi": "10.1176/appi.ajp.2016.16040467",
                                "group": {
                                    "serial": {
                                        "title": "American Journal of Psychiatry",
                                        "link": "/journal/ajp"
                                    },
                                    "volume": "174",
                                    "issue": "4",
                                    "pages": "341-361"
                                },
                                "pdfLink": "/doi/pdf/10.1176/appi.ajp.2016.16040467",
                                "pdfPlusLink": "/doi/pdfplus/10.1176/appi.ajp.2016.16040467",
                                "abstractLink": "/doi/abs/10.1176/appi.ajp.2016.16040467",
                                "fullTextLink": "/doi/full/10.1176/appi.ajp.2016.16040467",
                                "pubViews": 0,
                                "citationLink": "/action/addCitationAlert?doi=10.1176%2Fappi.ajp.2016.16040467",
                                "shareEprintLink": "/action/showMailPage?doi=10.1176%2Fappi.ajp.2016.16040467"
                            },
                            "eprints": "19",
                            "history": [
                                "Published in Volume 174, Number 4, Oct 16, 2017"
                            ]
                        }
                    ]
                }
            },
            "errors": []
        }
        )


    | #{''}

    section.source_section
        h2 Examples

        h3 Author Services

        .source_example
            .container
                | !{pb.render("author-services", "content.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

    | #{''}