.btn {
	border-radius: 2px;

	&--inverse {

		color: $text-onDark;
		background-color: $site-brand-color;
		border: none;
		font-size: 16px;

		@include themify($themes) {
			background-color: themed('color');
		}

		&.extra-border {
			border-width: 0;
			padding: 12px 24px;
		}
	}
}
.button, button, [type=submit] {
	background-color: $site-brand-color;
	border-radius: 2px;

	&.extra-border {
		border-width: 0;
		padding: 12px;
	}

	@include themify($themes) {
		background-color: themed('color');
	}
}

.switch {
	.cmn-toggle {
		&:checked + label {
			background-color: $site-brand-color;
			border-radius: 2px;
			@include themify($themes) {
				background-color: themed('color');
			}
		}
	}
}