extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        h2 Theming
        markdown
            p The examples below show the theme colors for each journal.
                .source_example
                    div.series-phyto Add class series-phyto to the container show this theme
                        div
                            br
                            button PHYTO Button
                            p.theme-color Just add "theme-color" class to make text color as theme color
                            div.theme-background.text-onDark Just add "theme-background" class to html element to have background theme color
                            br
                            div.border-bottom

                    div.series-pdis Add class series-pdis to the container show this theme
                        div
                            br
                            button PDIS Button
                            p.theme-color Just add "theme-color" class to make text color as theme color
                            div.theme-background.text-onDark Just add "theme-background" class to html element to have background theme color
                            br
                            div.border-bottom

                    div.series-mpmi Add class series-mpmi to the container show this theme
                        div
                            br
                            button MPMI Button
                            p.theme-color Just add "theme-color" class to make text color as theme color
                            div.theme-background.text-onDark Just add "theme-background" class to html element to have background theme color
                            br
                            div.border-bottom

                    div.series-pbiomes Add class series-pbiomes to the container show this theme
                        div
                            br
                            button PBIOMES Button
                            p.theme-color Just add "theme-color" class to make text color as theme color
                            div.theme-background.text-onDark Just add "theme-background" class to html element to have background theme color
                            br
                            div.border-bottom

                    div.series-php Add class series-php to the container show this theme
                        div
                            br
                            button PHP Button
                            p.theme-color Just add "theme-color" class to make text color as theme color
                            div.theme-background.text-onDark Just add "theme-background" class to html element to have background theme color
                            br
                            div.border-bottom

                    div.series-ebooks Add class series-ebooks to the container show this theme
                        div
                            br
                            button EBOOKS Button
                            p.theme-color Just add "theme-color" class to make text color as theme color
                            div.theme-background.text-onDark Just add "theme-background" class to html element to have background theme color
                            br
                            div.border-bottom





            | #{''}