extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    h1 My Account page
    .source_info

    section.source_section
        h2 My Account page
        markdown
        code.src-html
        .source_example
            | !{pb.render("header", "header.json")}
            main.content
                .profile-pages__heading
                    .container
                        h3 MY ACCOUNT
                .container
                    | !{pb.render("my-account", "my-account/extended/ext-tabs", "tabs.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["profile-pages"]}}}})}
            | !{pb.render("footer", "footer.json")}
    | #{''}