extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    .source_info
        p This is not a UX3 widget, this is a legacy widget.


    section.source_section
        h2 Example
        p The following example demonstrates Request Username widget.

        h3 Request Username - reset
        .source_example
            .container.wrapper
                | !{pb.render("request-username", "reset.json")}

        h3 Request Username - confirm
        .source_example
            .container.wrapper
                | !{pb.render("request-username", "confirm.json")}

    | #{''}


