.source_subhead
    h1 Specs directory
    <p>Navigation pages like this, are hand crafted, following <a href="https://sourcejs.com/docs/data-nav" class="source-a_a">Data Nav API</a>.</p>
.source_catalog(data-nav='./widgets/')
    h2 List of all specs
