$site-brand-color: #006A4E;

$site-secondary-color: #00563F;

$site-light-tint: #047658;

$site-page-background: #fff;

$site-page-tint: #e8e8e8;

$site-light-border: #e0e0e0;

$site-dark-border: #d9d9d9;

$site-faint-rule: #e0e0e0;

$site-dark-text: #333333;

$site-medium-text: #58585A;

$site-color-title: #005072;

$site-grey-logo: #757575;

$site-box-shadow-color: rgba(0, 0, 0, 0.5);

$site-search-button: #F68212;

$creative-title-color: #005072;

$twitter-brand: #00ACED;

$badge-fa-bg-color: #219653;

$badge-oa-color: #008000;

$badge-na-color: #EB5757;

$site-naigation-arrows: #2189CA;

$jrnl-mpmi-color: #472669;

$jrnl-phyto-color: #005a84;

$jrnl-pdis-color: #09a651;

$jrnl-php-color: #23562b;

$jrnl-pbiomes-color: #1c6887;

$series-ebooks: #005072;

$item-added: rgba(144, 198, 92, 0.9);

$item-hover: rgba(0,127,178,0.9);

$checkout-hover: #3c79a9;
