extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block content

    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade
    include /specs/page-structure/helpers/print-html-code-mixin.jade

    section.source_section
        h2 profile orcid identifier widget
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/profile-orcid-identifier/templates/profile-orcid-identifier/profile-orcid-identifier-tmpl.jade')
        h3 Data
        p The following the JSON structure to useprofile orcid identifier widget:
        +printJson({
            "data": {
                "orcid": "https://orcid.org/0000-0002-9147-3799",
                "disconnectLink": "https://esspp-prod.literatumonline.com.sabdelmajid:17070/action/oauth/orcid?unlink=1&redirectUri=%2F"
            }
        }
        )
    section.source_section
        h2 Example

        h3 Profile orcid identifier
        markdown
            p Profile orcid identifier widget

        .source_example
            div.container
                | !{pb.render("profile-orcid-identifier", "data.json")}



    | #{''}