extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade


block content
    section.source_section

        include /specs/page-structure/helpers/print-json-mixin
        include /specs/page-structure/helpers/print-template-include-mixin
        include /specs/page-structure/helpers/print-js-code-mixin

        h2 Usage
        h3 Data
        markdown
            p The following data structure must exist to be able to use authors widget.

        +printJson({
            "data": {
                "forms": [
                    {
                        "orcid": {
                            "value": "000-0003-2587",
                            "message": {}
                        },
                        "first-name": {
                            "value": "Jerome",
                            "message": {}
                        },
                        "last-name": {
                            "value": "Christiasen",
                            "message": {}
                        },
                        "email": {
                            "value": "jChar.edu.com",
                            "message": {}
                        },
                        "affiliations": {
                            "value": "University",
                            "message": {}
                        },
                        "corresponding": {
                            "value": "..."
                        }
                    },

                    {
                        "orcid": {
                            "value": "000-0545-2587",
                            "message": {}
                        },
                        "first-name": {
                            "value": "George",
                            "message": {}
                        },
                        "last-name": {
                            "value": "Mark",
                            "message": {}
                        },
                        "email": {
                            "value": "gmark.edu.com",
                            "message": {}
                        },
                        "affiliations": {
                            "value": "University 2",
                            "message": {}
                        },
                        "corresponding": {
                            "value": "..."
                        }
                    }

                ],
                "affiliationSearchLink": "#"
            }
        })

    | #{''}

    section.source_section
        h2 Examples

        h3 Authors - Update
        .source_example
            | !{pb.render("pd-authors", "pd-authors-update", "data.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Authors - Readonly
        .source_example
            | !{pb.render("pd-authors", "pd-authors-read-only", "data.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

    | #{''}