extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade
        include /specs/page-structure/helpers/print-html-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/modal/templates/modal/modal-tmpl.jade')
        h3 Modal data
        markdown
            p The following data structure must exist to be able to use Modal template.
        +printJson({
            "data": {
                "id": "id-of-the-modal",
                "title": "Modal First",
                "content": "denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui."
            }
        })

        markdown
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `title`
                        td Modal title
                    tr
                        td `content`
                        td  Modal content could be dropzone

        h3 Data for the modal toggle button
        +printHtmlCode('<button type="button" data-toggle="modal" data-target="#id-of-the-modal" class="btn">Modal</button>')
    | #{''}

    section.source_section
        h2 Examples

        h3 Modal default
        .source_example
            button(type="button" class="btn" data-toggle="modal" data-target="#myModal") Modal
            | !{pb.render('modal', 'content.json', {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Modal full width
        markdown
            p In this example we added `full-width` class to the modal container, to take the full page style with gray background.
        .source_example
            button(type="button" class="btn" data-toggle="modal" data-target="#myModal1") Modal
            | !{pb.render('modal', {"data": {"id":"myModal1", "title": "Modal First", "content": "denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui."}}, {"shared": {"model": {"config": {"wrapper": "true", "className": ["modal--full-width"]}}}})}

    | #{''}