extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/list-of-issues/templates/list-of-issues/list-of-issues-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use List of issues template.
        +printJson({
            "data": {
                "attr": {
                    "id" : "p1"
                },
                "links": [
                    {
                        "type": "current",
                        "text": "Current issue",
                        "itemUrl": "#"
                    },
                    {
                        "type": "archive",
                        "text": "Archive",
                        "itemUrl": "#",
                        "tabs": {
                            "config": {
                                "type": "default",
                                "id": "loi2"
                            },
                            "data": {
                                "nav": [
                                    {
                                        "text": "2000 - 2010",
                                        "content": {
                                            "config": {
                                                "type": "default",
                                                "id": "loi3"
                                            },
                                            "data": {
                                                "nav": [
                                                    {
                                                        "text": "2010",
                                                        "content": {
                                                            "loi": [
                                                                {
                                                                    "title": "Christmas Issue",
                                                                    "fpage": "478",
                                                                    "lpage": "1021",
                                                                    "date": {
                                                                        "year": "2015",
                                                                        "month": "December",
                                                                        "day":"1"
                                                                    },
                                                                    "parentItem": {
                                                                        "volume": 2,
                                                                        "issue": 5
                                                                    },
                                                                    "isLegacy":"false",
                                                                    "access":"full",
                                                                    "itemUrl": "#",
                                                                    "isCurrent": "true",
                                                                    "inProgress":"false"
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "text": "2011",
                                                        "content": "2011 You can activate a tab or pill navigation without writing any JavaScript by simply specifying on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap"
                                                    }

                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "text": "2011",
                                        "content": "2011 You can activate a tab or pill navigation without writing any JavaScript by simply specifying on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap"
                                    }
                                ]
                            }
                        }

                    }
                ]
            }
        })

        markdown
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `attr - id`
                        td the value that used for dropblock data attributes, it must be a unique value.
                    tr
                        td `links`
                        td list of likns that can be added to the LOI banner
                            table
                                tbody
                                    tr
                                        td `type`
                                        td Link type
                                    tr
                                        td `text`
                                        td Link text
                                    tr
                                        td `itemUrl`
                                        td Link url
                                    tr
                                        td `tabs`
                                        td Tabs data, for more information #[a(href="/specs/ux3/components/tabs/") Tabs]
            p LOI data structure
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `loi`
                        td LOI, Array of issues
                    tr
                        td `title`
                        td Issue title
                    tr
                        td `fpage`
                        td First page
                    tr
                        td `lpage`
                        td Last page
                    tr
                        td `date`
                        td Issue Date, for more information #[a(href="/specs/ux3/components/date/") Date]
                    tr
                        td `date`
                        td Issue Parent item, for more information #[a(href="/specs/ux3/components/parent-item/") Parent item]
                    tr
                        td `isLegacy`
                        td Is legacy, `true`, `false`
                    tr
                        td `access`
                        td Access type, `full`, `partial`, `free`, `oa`, `no`
                    tr
                        td `itemUrl`
                        td Issue url
                    tr
                        td `isCurrent`
                        td Is Current, `true`, `false`
                    tr
                        td `inProgress`
                        td Is in Progress, `true`, `false`

    | #{''}

    section.source_section
        h2 Examples
        h3 List of issues (MPMI Journal styling)
        +printJson({
            "thisWidget": {
                "id": "p1"
            },
            "data": {
                "widget": {
                    "template": "default"
                },
                "nav": {
                    "currentIssue": {
                        "href": "http://...",
                        "label": "Lorem"
                    },
                    "allIssues": {
                        "href": "http://...",
                        "label": "Lorem"
                    },
                    "aop": {
                        "href": "http://...",
                        "label": "Label Text"
                    },
                    "ja": {
                        "href": "http://...",
                        "label": "Label Text"
                    },
                    "issueInProgress": {
                        "href": "http://...",
                        "label": "Label Text"
                    },
                    "forthcoming": {
                        "href": "http://...",
                        "label": "Label Text"
                    },
                    "archive": {
                        "href": "#",
                        "label": "Lorem Text"
                    }
                },
                "loi": {
                    "groupType": "decade",
                    "decades": [
                        {
                            "label": "2014",
                            "href": "http://...",
                            "issues": [
                                {
                                    "issue": "1",
                                    "volume": "27",
                                    "url": "/toc/ahe/27/1",
                                    "seq": "T100",
                                    "title": "Lorem Lorem",
                                    "pageRange": "1-10",
                                    "isLegacy": false,
                                    "isCurrent": true,
                                    "inProgress": true,
                                    "access": "full",
                                    "coverDate": "February 2014"
                                },
                                {
                                    "issue": "1",
                                    "volume": "27",
                                    "url": "/toc/ahe/27/1",
                                    "seq": "T100",
                                    "title": "Lorem Lorem 123",
                                    "pageRange": "1-10",
                                    "isLegacy": false,
                                    "isCurrent": true,
                                    "inProgress": true,
                                    "access": "full",
                                    "coverDate": "February 2014"
                                }
                            ]
                        },
                        {
                            "label": "2016",
                            "href": "http://...",
                            "issues": [
                                {
                                    "issue": "1",
                                    "volume": "27",
                                    "url": "/toc/ahe/27/1",
                                    "seq": "T100",
                                    "title": "Lorem Lorem 2016",
                                    "pageRange": "1-10",
                                    "isLegacy": false,
                                    "isCurrent": true,
                                    "inProgress": true,
                                    "access": "full",
                                    "coverDate": "February 2014"
                                },
                                {
                                    "issue": "1",
                                    "volume": "27",
                                    "url": "/toc/ahe/27/1",
                                    "seq": "T100",
                                    "title": "Lorem Lorem 2016",
                                    "pageRange": "1-10",
                                    "isLegacy": false,
                                    "isCurrent": true,
                                    "inProgress": true,
                                    "access": "full",
                                    "coverDate": "February 2014"
                                }
                            ]
                        }
                    ]
                }
            }
        })
        .source_example
            .container.series-mpmi
                | !{pb.render("list-of-issues", "list-of-issues/demo/list-of-issues-demo", "loi-data.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}





    | #{''}
