extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade


block content
    section.source_section

        include /specs/page-structure/helpers/print-json-mixin
        include /specs/page-structure/helpers/print-template-include-mixin
        include /specs/page-structure/helpers/print-js-code-mixin

        h2 Usage
        h3 Data
        markdown
            p The following data structure must exist to be able to use categories widget.

        +printJson({
            "data": {
                "inputs": {
                    "uris": {
                        "value": ["Cat2", "Cat3"],
                        "message": {
                            "type": "warning",
                            "text": "message warning"
                        }
                    }
                },
                "categories": [
                    {
                        "name": "Cat1",
                        "label": "Category 1"
                    },
                    {
                        "name": "Cat2",
                        "label": "Category 2"
                    },
                    {
                        "name": "Cat3",
                        "label": "Category 3"
                    }
                ]
            }
        })

    | #{''}

    section.source_section
        h2 Examples

        h3 Categories - Update
        .source_example
            | !{pb.render("pd-search-categories", "pd-search-categories-update", "categories.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

        h3 Categories - Readonly
        .source_example
            | !{pb.render("pd-search-categories", "pd-search-categories-read-only", "categories.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}

    | #{''}