extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/tools-box/templates/tools-box/tools-box-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use Tools Box template.
        +printJson({
            "data": {
                "icon": "icon-glasses",
                "list": [
                    {
                        "text": "Further reading",
                        "itemUrl": "#tes2",
                        "dataTab": "tab3f",
                        "dataSlide": "tab3f"
                    },
                    {
                        "text": "Cited by",
                        "itemUrl": "tes1",
                        "dataTab": "tab3f",
                        "dataSlide": "tab3f"
                    }
                ]
            }
        })

        markdown
            p You can add custom classes to the container elements by passing an array of additional class names in `"addClassNames": ["...", "..."]` field for these elements. If you need to replace the default class name, use `"useClassNames": ["...", "..."]` instead. See the table below for the list of container elements and their default class names.

            table
                thead
                    tr
                        th Container element
                        th Default class name
                        th Description
                tbody
                    tr
                        td `wrapper`
                        td tools-box
                        td Main component container

            p To be able to use the tabs scrollable functionality, the anchor must have `tab-link` class and the following attributes:

            table
                thead
                    tr
                        th Attribute
                        th Description
                tbody
                    tr
                        td `href`
                        td Must contain the target `Id` that we want to scroll to in our tabs
                    tr
                        td `data-tab`
                        td Must contain the destination tabs' `Id` that holds our target we want to scroll to in our tabs
                    tr
                        td `data-slide`
                        td Must contain the destination tabs' `Id` that holds our target we want to scroll to in our tabs (this data attribute is used for slide functionality in mobile viewport).
    | #{''}

    section.source_section
        h2 Example
        +printJson({
            "data": {
                "icon": "icon-glasses",
                "list": [
                    {
                        "text": "Further reading",
                        "itemUrl": "#tes2",
                        "dataTab": "tab3f",
                        "dataSlide": "tab3f"
                    },
                    {
                        "text": "Cited by",
                        "itemUrl": "tes1",
                        "dataTab": "tab3f",
                        "dataSlide": "tab3f"
                    },
                    {
                        "text": "related",
                        "itemUrl": "#tes2",
                        "dataTab": "tab3f",
                        "dataSlide": "tab3f"
                    }
                ]
            }
        })
        .source_example
            | !{pb.render('tools-box', 'tools-box.json')}
    | #{''}