extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/commerce/widgets/order-summary/templates/order-summary/order-summary-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use Section template.
        +printJson({})

        markdown
            table
                thead
                    tr
                        th Property name
                        th Description
                tbody
                    tr
                        td `sections`
                        td section content

    | #{''}

    section.source_section
        h2 Example
        .source_example
            | !{pb.render("order-summary", {"model": {"config": {"wrapper": "false"}}})}
    | #{''}