extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    .source_info
        p The <strong>Footer</strong> template contains the following components:
           | #[a(href="../../widgets/html/") Html widget],
           | #[a(href="../../widgets/images/") Images widget],


    section.source_section
        h2 Footer

        h3 Homepage Footer
        .source_example.container
            | !{pb.render("footer", "footer.json")}

        h3 Example of PHYTO Themed Footer
        .source_example.container
            | !{pb.render("footer", "footer.json", "data.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["series-phyto"]}}}})}

        h3 Example of MPMI Themed Footer
        .source_example.container
            | !{pb.render("footer", "footer/footer-mpmi", "footer-mpmi.json", {"shared": {"model": {"config": {"wrapper": "true", "className": ["series-mpmi"]}}}})}
    | #{''}