.source_subhead
    h1 Starting List Page Template
    p
      | Navigation pages like this, are hand crafted, following
      a.source-a_a(href='https://sourcejs.com/docs/data-nav')  Data Nav API
      | .

    p Use this template to create a new list folder in sourcejs

.source_catalog(data-nav='./',data-tag="ready")
    h2 Ready specs widgets

.source_catalog(data-nav='./',data-tag='exams')
    h2 Exams Widgets

.source_catalog(data-nav='./',data-tag="pdc")
    h2 Publication Draft Category

.source_catalog(data-nav='./',data-tag='unready')
    h2 Unready specs widgets

.source_catalog(data-nav='./',data-tag='empty')
    h2 Unready specs widgets  - Empty

.source_catalog(data-nav='./',data-tag='nonUx')
    h2 Not UX3 widgets - External

.source_catalog(data-nav='./',data-tag='genWid')
    h2 Generic Widgets
