extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block content


    section.source_section
        h2 Render Pug template inline
        h3 pb.render() in spec template
        .source_example
            | !{pb.render('parent-item', {data: {"title": "FACETS", "volume": 2, "issue": 5}})}

        h3 pb.render() in component template
        .source_example
            | !{pb.render('render-inline', {parentItem: {"title": "FACETS", "volume": 7, "issue": 11}})}

        h3 pb.render() in included template
        .source_example
            | !{pb.render('render-inline', 'render-inline/render-inline-include', {parentItem: {"title": "FACETS", "volume": 3, "issue": 8}})}
    | #{''}
