extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Temis Related Article Widget
            h3 Include template
            +printJsCode('include /specs/ux3/widgets/temis-related/templates/temis-related/temis-related-tmpl.jade')
    | #{''}

    section.source_section
        h2 Example
        p The following example demonstrates Exam List.
        .source_example
            .container
                | !{pb.render("temis-related", "data.json")}
    | #{''}