extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    section.source_section
        h2 Default headings

        markdown
            p From h1 to h6
        .source_example
            h1 The quick brown fox jumps over the lazy dog
            h2 The quick brown fox jumps over the lazy dog
            h3 The quick brown fox jumps over the lazy dog
            h4 The quick brown fox jumps over the lazy dog
            h5 The quick brown fox jumps over the lazy dog
            h6 The quick brown fox jumps over the lazy dog

    section.source_section
        h2 Heading styles

        h3 Section header
        markdown
            p In the example below we have added `section__header` class.
        .source_example
            h2.section__header Latest Articles

        h3 Page header
        markdown
            p In the example below we have added `page__header` class.
        .source_example
            h2.page__header Latest Articles

        h3 With top Border
        markdown
            p In the example below we have added `border-top` class.
        .source_example
            h3.border-top Latest Articles

        h3 With bottom Border
        markdown
            p In the example below we have added `border-bottom` class.
        .source_example
            h3.border-bottom Latest Articles

    section.source_section
        h2 Blockquote

        markdown
            p In the example below we have added `quote` class.
        .source_example
            blockquote.quote
                | Concussions have become a critical public health issue, resulting in a substantial increase in research. As a clinician searching for the most up-to-date information, Concussion can serve as the go-to journal.



    | #{''}