extends ../../../../../ux3/widgets/publication-content/templates/article/article-tmpl.jade

block articleRow
    .row
        div(class=contentClasses)
            | !{pb.renderDropzone(thisWidget, "apsArticleNav")}
            //- +articleHEeader()
            //- +articleCitation()
            block includeCitation
                include ../article/extended/ext-citation-tmpl
                +epub()
            //- +articleCoolbar()
            block includeCoolbar
                .scroll-to-target.fixed-element
                    include ../article/extended/ext-coolbar-tmpl
            +articleBody()

        block tabsContainer
            div(class=sidebarClasses)
                block socialLinkDropZone
                //- +articleTab()
                block includeTabs
                    include ../article/extended/ext-tabs-tmpl