.eCommerceCheckoutAddToCartWidget {
	.expand-purchase-options {
		background-color: $site-brand-color;
		border: none;
		border-radius: 2px;
		color: $text-onDark;
		@include font-size(16);
		font-weight: 700;
		padding: 12px 24px;

		@include themify($themes) {
			background-color: themed('color');
		}
	}
}

.eCommerceCheckoutAddToCartWidgetExpanded {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 120000;
	.close {
		cursor: pointer;
		margin: 0 auto;
	}
	.overlay-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0.8;
		z-index: -1;
		overflow-x: hidden;
	}
	.add-journal-to-cart-container {
		background-color: #fff;
		margin: 0 auto;
		padding: 20px 50px 30px;
		@include media('>=desktop') {
			width: 600px;
		}
		@include media('<desktop') {
			width: 100%;
		}
		.title {
			line-height: 1;
			padding-top: 20px;;
		}
		.AddToCartLabel {
			@include font-size(24);
			color: #a6192e;
		}
		.CartBookTitle {
			display: block;
			@include font-size(16);
			font-weight: normal;
		}
		.icon-close_thin {
			color: #666;
			@include font-size(14);
			float: right;
			position: relative;
			left: 25px;
		}
		.saved-go-cart {
			font-weight: 500;
		}
		.save-for-later-link {
			font-weight: 500;
		}
	}

	.addedMessage {
		overflow: hidden;
		.article-title{
			@include media('>=tablet') {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			[class^="icon-"]{
				color: $item-added;
				@include font-size(25);
				margin: 0 10px 0 0;
			}
			.article-title-content {
				@include media('>=tablet') {
					width: 60%;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				.text {
					text-align: left;
				}
				.icon-check {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
		a.show-cart-link{
			background: $item-hover;
			&:hover{
				background-color: $checkout-hover;
			}
			.text{
				display: inline-block;
				line-height: 1.3em;
				vertical-align: middle;
			}
		}
	}
}