extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content


    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/components/refine-search/templates/refine-search/refine-search-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use Refine search form template.

        +printJson({
            "data": {
                "options": [
                    {
                        "text": "All content"
                    },
                    {
                        "text": "This Journal"
                    }
                ],
                "historyLink": {
                    "itemUrl": "#"
                },
                "savedLink": {
                    "itemUrl": "#"
                },
                "months": [
                    {
                        "text": "Month"
                    },
                    {
                        "text": "Jan"
                    }
                ],
                "years": [
                    {
                        "text": "Year"
                    },
                    {
                        "text": "2016"
                    }
                ]
            }
        })
    | #{''}

    section.source_section
        h2 Example
        p The following example demonstrates Refine search form.
        +printJson({
            "data": {
                "options": [
                    {
                        "text": "All content"
                    },
                    {
                        "text": "This Journal"
                    },
                    {
                        "text": "Citation Search"
                    }
                ],
                "historyLink": {
                    "itemUrl": "#"
                },
                "savedLink": {
                    "itemUrl": "#"
                },
                "months": [
                    {
                        "text": "Month"
                    },
                    {
                        "text": "Jan"
                    },
                    {
                        "text": "Feb"
                    }
                ],
                "years": [
                    {
                        "text": "Year"
                    },
                    {
                        "text": "2016"
                    },
                    {
                        "text": "2015"
                    }
                ]
            }
        })
        
        .source_example.extended
            div.conatiner
                | !{pb.render('refine-search', 'refine-search.json')}
    | #{''}