.row
    .col-sm-4
        p
            a.button(href="") Sign In
        p
            a.button(href="") Institutional Login
    .col-sm-8
        !{pb.renderDropzone(thisWidget, "information")} 
        p Not yet registered? 
            a.button(href="") Create a new account
        p Already Registered? Click the "sign in" button, log in, and click on "My Profile"