.main-nav {
	background-color: $site-secondary-color;
	@include themify($themes) {
		background-color: themed('color');
	}
	border-bottom: 0;

	.dropdown {
		&.hover {
			background-color: $site-secondary-color;
			@include themify($themes) {
				background-color: themed('color');
			}
		}
		&:hover {
			background-color: $site-secondary-color;
			@include themify($themes) {
				background-color: themed('color');
			}
		}
		&:focus {
			background-color: $site-secondary-color;
			@include themify($themes) {
				background-color: themed('color');
			}
		}
		&__menu {
			background-color: $site-secondary-color;
			@include themify($themes) {
				background-color: themed('color');
			}
			
			li {
				a {
					line-height: 1rem;
				}
			}
		}
	}

	a {
		font-weight: 600;
		text-transform: capitalize;
	}




	&.menu--res {

		background-color: $site-secondary-color;
		@include themify($themes) {
			background-color: themed('color');
		}


		.dropdown__menu {
			&.sub-menu__opened {
				@include themify($themes) {
					background-color: themed('color');
				}
			}
		}

		a[data-toggle=nav] {
			color: $text-onDark;
			@include themify($themes) {
				color: themed('headertext');
			}
			padding: 15px 13px 13px 13px;
		}
	}
}
