extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-template-include-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage

        h3 Include template
        +printJsCode('include /specs/ux3/components/newsletter/templates/newsletter/newsletter-tmpl.jade')
        h3 Data
        markdown
            p The following data structure must exist to be able to use Newsletter template.
        +printJson({

            "config": {
                "wrapper": {
                    "addClassNames": ["card", "text-onDark"]
                }
            },
            "title": "Newsletter",
            "text": "Receive new content alerts",
            "btn": "Subscribe"

        })
        markdown
            p You can add custom classes to the container element by passing an array of additional class names in `"addClassNames": ["...", "..."]`. If you want to replace the default class name (`newsletter`), use `"useClassNames": ["...", "..."]` instead.
            p Use `headingLevel` parameter to set custom heading level for newsletter title. Default heading is `h2`.
    | #{''}

    section.source_section
        h2 Newsletter example

        h3 Newsletter
        .source_example
            | !{pb.render('newsletter', 'newsletter.json', {"shared": {"model": {"config": {"wrapper": "true", "className": ["card--dark", "card--gutter"]}}}})}
            
    | #{''}