.cartLabel {

	.icon-shoppingcart:before {
		color: $text-onDark;
		@include themify($themes) {
			color: $primary-text-color;
		}
		content: "\e60f";
	}

	.cartText {
		@include font-size(10);
		color: $text-onDark;
		@include themify($themes) {
			color: $primary-text-color;
		}
	}

}