extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block cssLastInHead
    include /specs/page-structure/css-lastin-head.jade
    link(rel='stylesheet', href='/specs/ux3/basic/icons/scss/helpers/icons.css')

block content
    include /specs/page-structure/helpers/print-html-code-mixin.jade

    section.source_section
        h2 Usage
        p We are using #[a(href="https://icomoon.io/") IcoMoon] font to render icons in our templates (<code>specs/fonts</code>).
        p Use <code>i</code> tag with icon class name to add an icon in your code. here you can find complete list of icons for reference.
        h3 Example
        +printHtmlCode('<i class="icon-facebook" aria-hidden="true"></i>')
    | #{''}

    section.source_section
        h2 IcoMoon icons
        .source_example.container
            .col-md-3
                i.icon-content_copy
                p icon-content_copy
            .col-md-3
                i.icon-filter_list
                p icon-filter_list
            .col-md-3
                i.icon-lock_open
                p icon-lock_open
            .col-md-3
                i.icon-calendar
                p icon-calendar
            .col-md-3
                i.icon-save-search
                p icon-save-search
            .col-md-3
                i.icon-related2
                p icon-related2
            .col-md-3
                i.icon-Icon_Twitter
                p icon-Icon_Twitter
            .col-md-3
                i.icon-Icon_Track-citations
                p icon-Icon_Track-citations
            .col-md-3
                i.icon-Icon_Tools
                p icon-Icon_Tools
            .col-md-3
                i.icon-Icons_Tune
                p icon-Icons_Tune
            .col-md-3
                i.icon-Icon_Star-26
                p icon-Icon_Star-26
            .col-md-3
                i.icon-Icon_Share
                p icon-Icon_Share
            .col-md-3
                i.icon-Icon_Settings
                p icon-Icon_Settings
            .col-md-3
                i.icon-Icon_Section-menu
                p icon-Icon_Section-menu
            .col-md-3
                i.icon-Icon_Search
                p icon-Icon_Search
            .col-md-3
                i.icon-Icon_Permissions-Locked
                p icon-Icon_Permissions-Locked
            .col-md-3
                i.icon-Icon_Mobile-menu
                p icon-Icon_Mobile-menu
            .col-md-3
                i.icon-menu2
                p icon-menu2
            .col-md-3
                i.icon-Icon_mail
                p icon-Icon_mail
            .col-md-3
                i.icon-Icon_Links-References
                p icon-Icon_Links-References
            .col-md-3
                i.icon-Icon_Information
                p icon-Icon_Information
            .col-md-3
                i.icon-Icon_Images
                p icon-Icon_Images
            .col-md-3
                i.icon-Icon_Home
                p icon-Icon_Home
            .col-md-3
                i.icon-Icon_Google-plus
                p icon-Icon_Google-plus
            .col-md-3
                i.icon-Icon_Feed
                p icon-Icon_Feed
            .col-md-3
                i.icon-Icon_Facebook
                p icon-Icon_Facebook
            .col-md-3
                i.icon-Icon_Edit
                p icon-Icon_Edit
            .col-md-3
                i.icon-Icon_Download
                p icon-Icon_Download
            .col-md-3
                i.icon-Icon_Cross
                p icon-Icon_Cross
            .col-md-3
                i.icon-Icon_Cart
                p icon-Icon_Cart
            .col-md-3
                i.icon-Icon_Archive
                p icon-Icon_Archive
            .col-md-3
                i.icon-Icon_Alerts
                p icon-Icon_Alerts
            .col-md-3
                i.icon-Icon_Account-LoggedIn
                p icon-Icon_Account-LoggedIn
            .col-md-3
                i.icon-Icon_Account
                p icon-Icon_Account
            .col-md-3
                i.icon-Icon_About-Article
                p icon-Icon_About-Article
            .col-md-3
                i.icon-by_large
                p icon-by_large
            .col-md-3
                i.icon-cc_large2
                p icon-cc_large2
            .col-md-3
                i.icon-nc-jp_large
                p icon-nc-jp_large
            .col-md-3
                i.icon-nc_large
                p icon-nc_large
            .col-md-3
                i.icon-nd_large
                p icon-nd_large
            .col-md-3
                i.icon-publicdomain_large
                p icon-publicdomain_large
            .col-md-3
                i.icon-sa_large
                p icon-sa_large
            .col-md-3
                i.icon-zero_large
                p icon-zero_large
            .col-md-3
                i.icon-cc_large
                p icon-cc_large
            .col-md-3
                i.icon-access
                p icon-access
            .col-md-3
                i.icon-add2
                p icon-add2
            .col-md-3
                i.icon-allfigures
                p icon-allfigures
            .col-md-3
                i.icon-check
                p icon-check
            .col-md-3
                i.icon-delete
                p icon-delete
            .col-md-3
                i.icon-doublearrow
                p icon-doublearrow
            .col-md-3
                i.icon-download2
                p icon-download2
            .col-md-3
                i.icon-download-sitation
                p icon-download-sitation
            .col-md-3
                i.icon-figures2
                p icon-figures2
            .col-md-3
                i.icon-filters
                p icon-filters
            .col-md-3
                i.icon-sections
                p icon-sections
            .col-md-3
                i.icon-table2
                p icon-table2
            .col-md-3
                i.icon-tools2
                p icon-tools2
            .col-md-3
                i.icon-truck-sitation
                p icon-truck-sitation
            .col-md-3
                i.icon-x
                p icon-x
            .col-md-3
                i.icon-zoom
                p icon-zoom
            .col-md-3
                i.icon-Email
                p icon-Email
            .col-md-3
                i.icon-x_btnclose
                p icon-x_btnclose
            .col-md-3
                i.icon-success
                p icon-success
            .col-md-3
                i.icon-exclamation_mark
                p icon-exclamation_mark
            .col-md-3
                i.icon-info2
                p icon-info2
            .col-md-3
                i.icon-more
                p icon-more
            .col-md-3
                i.icon-advanced_search
                p icon-advanced_search
            .col-md-3
                i.icon-facebook2
                p icon-facebook2
            .col-md-3
                i.icon-linkedin2
                p icon-linkedin2
            .col-md-3
                i.icon-twitter2
                p icon-twitter2
            .col-md-3
                i.icon-mendeley
                p icon-mendeley
            .col-md-3
                i.icon-orcid
                p icon-orcid
            .col-md-3
                i.icon-profile_empty
                p icon-profile_empty
            .col-md-3
                i.icon-person_outline
                p icon-person_outline
            .col-md-3
                i.icon-profile_empty2
                p icon-profile_empty2
            .col-md-3
                i.icon-Save
                p icon-Save
            .col-md-3
                i.icon-Rss
                p icon-Rss
            .col-md-3
                i.icon-section_collapse
                p icon-section_collapse
            .col-md-3
                i.icon-toc
                p icon-toc
            .col-md-3
                i.icon-submit
                p icon-submit
            .col-md-3
                i.icon-subscribe
                p icon-subscribe
            .col-md-3
                i.icon-timeline_mark
                p icon-timeline_mark
            .col-md-3
                i.icon-editorial_board
                p icon-editorial_board
            .col-md-3
                i.icon-loi
                p icon-loi
            .col-md-3
                i.icon-plus_n
                p icon-plus_n
            .col-md-3
                i.icon-checkmark
                p icon-checkmark
            .col-md-3
                i.icon-back_matter
                p icon-back_matter
            .col-md-3
                i.icon-cover
                p icon-cover
            .col-md-3
                i.icon-aboutjournal
                p icon-aboutjournal
            .col-md-3
                i.icon-arrow_d_n
                p icon-arrow_d_n
            .col-md-3
                i.icon-arrow_u_p
                p icon-arrow_u_p
            .col-md-3
                i.icon-menu
                p icon-menu
            .col-md-3
                i.icon-search
                p icon-search
            .col-md-3
                i.icon-shoppingcart
                p icon-shoppingcart
            .col-md-3
                i.icon-shopping_cart
                p icon-shopping_cart
            .col-md-3
                i.icon-userprofile
                p icon-userprofile
            .col-md-3
                i.icon-abstract
                p icon-abstract
            .col-md-3
                i.icon-download
                p icon-download
            .col-md-3
                i.icon-export_citation
                p icon-export_citation
            .col-md-3
                i.icon-favorites
                p icon-favorites
            .col-md-3
                i.icon-figures
                p icon-figures
            .col-md-3
                i.icon-info
                p icon-info
            .col-md-3
                i.icon-metrics
                p icon-metrics
            .col-md-3
                i.icon-permissions
                p icon-permissions
            .col-md-3
                i.icon-references
                p icon-references
            .col-md-3
                i.icon-related
                p icon-related
            .col-md-3
                i.icon-reprints
                p icon-reprints
            .col-md-3
                i.icon-section_arrow_d
                p icon-section_arrow_d
            .col-md-3
                i.icon-section_arrow_u
                p icon-section_arrow_u
            .col-md-3
                i.icon-section_collapse2
                p icon-section_collapse2
            .col-md-3
                i.icon-section_expand
                p icon-section_expand
            .col-md-3
                i.icon-share
                p icon-share
            .col-md-3
                i.icon-tools_close
                p icon-tools_close
            .col-md-3
                i.icon-tools
                p icon-tools
            .col-md-3
                i.icon-track
                p icon-track
            .col-md-3
                i.icon-arrow_l
                p icon-arrow_l
            .col-md-3
                i.icon-arrow_r
                p icon-arrow_r
            .col-md-3
                i.icon-close_thin
                p icon-close_thin
            .col-md-3
                i.icon-glasses
                p icon-glasses
            .col-md-3
                i.icon-to-figure-viewer
                p icon-to-figure-viewer
            .col-md-3
                i.icon-point-to-text
                p icon-point-to-text
            .col-md-3
                i.icon-circle-plus
                p icon-circle-plus
            .col-md-3
                i.icon-notice
                p icon-notice
            .col-md-3
                i.icon-warning
                p icon-warning
            .col-md-3
                i.icon-explanation-mark
                p icon-explanation-mark
            .col-md-3
                i.icon-notification
                p icon-notification
            .col-md-3
                i.icon-trash-can
                p icon-trash-can
            .col-md-3
                i.icon-pencil2
                p icon-pencil2
            .col-md-3
                i.icon-grid2
                p icon-grid2
            .col-md-3
                i.icon-document-file-ppt
                p icon-document-file-ppt
            .col-md-3
                i.icon-Icons_Sorting
                p icon-Icons_Sorting
            .col-md-3
                i.icon-plus-alt
                p icon-plus-alt
            .col-md-3
                i.icon-quote
                p icon-quote
            .col-md-3
                i.icon-eye
                p icon-eye
            .col-md-3
                i.icon-views
                p icon-views
            .col-md-3
                i.icon-ic_history_black_24px
                p icon-ic_history_black_24px
            .col-md-3
                i.icon-bookmark
                p icon-bookmark
            .col-md-3
                i.icon-ribbon
                p icon-ribbon
            .col-md-3
                i.icon-google-plus
                p icon-google-plus
            .col-md-3
                i.icon-eye-blocked
                p icon-eye-blocked
            .col-md-3
                i.icon-twitter
                p icon-twitter
            .col-md-3
                i.icon-facebook
                p icon-facebook
            .col-md-3
                i.icon-linkedin
                p icon-linkedin
            .col-md-3
                i.icon-cog
                p icon-cog
            .col-md-3
                i.icon-enlarge2
                p icon-enlarge2
            .col-md-3
                i.icon-eye2
                p icon-eye2
            .col-md-3
                i.icon-zoom-in
                p icon-zoom-in
            .col-md-3
                i.icon-zoom-out
                p icon-zoom-out
            .col-md-3
                i.icon-reddit
                p icon-reddit
            .col-md-3
                i.icon-four-grid-layout
                p icon-four-grid-layout
            .col-md-3
                i.icon-calendar2
                p icon-calendar2
            .col-md-3
                i.icon-google-plus-square
                p icon-google-plus-square
            .col-md-3
                i.icon-facebook-square
                p icon-facebook-square
            .col-md-3
                i.icon-twitter-square
                p icon-twitter-square
            .col-md-3
                i.icon-linkedin-square
                p icon-linkedin-square
            .col-md-3
                i.icon-exclamation
                p icon-exclamation
            .col-md-3
                i.icon-table
                p icon-table

    | #{''}

