extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    include /specs/page-structure/helpers/print-json-mixin
    include /specs/page-structure/helpers/print-template-include-mixin
    include /specs/page-structure/helpers/print-js-code-mixin

        h2 Usage
        h3 Data

        +printJson({
            "data": {
                "doi": "",
                "index": "",
                "saveLink": "",
                "cancelLink": "",
                "submitLink": ""
            }
        })

    | #{''}

    section.source_section
        h2 Example
        h3 Metadata Form
        .source_example
            .container
                | !{pb.render("pd-metadata-form", "pd-metadata-form.json", {"shared": {"model": {"config": {"wrapper": "false"}}}})}
    | #{''}