extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section

        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Exam Certificate
            h3 Include template
            +printJsCode('include /specs/ux3/widgets/exam-certificate/templates/exam-certificate/rexam-certificate-tmpl.jade')
        h3 Data
        markdown
            p The following the JSON structure must exist to be able to use Exam Certificate template.
        +printJson({
          "data": {
            "currentPerson": {
              "displayName": "William Harkcom"
            },
            "exam": {
              "title": "The effect of the native kinematics of the knee on the outcome following total knee arthroplasty",
              "link": "/action/showExamPrintableCertificate",
              "response": {
                "creditsEarned": 1,
                "completedDate": "1/16/18 2:34 PM",
                "status": "PASSED"
              }
            }
          },
          "errors": []
        })
    | #{''}

    section.source_section
        h2 Example
        p The following example demonstrates the Exam Certificate widget.
        p The first drop zone is intended to display the Publisher's logo.
        .source_example
            .container
                | !{pb.render("exam-certificate", "data.json")}
    | #{''}