extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content
    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade

    section.source_section
        h2 Trusted Proxy Code
        .source_example
            | !{pb.render("trusted-proxy-code", "data.json")}

        p The following the JSON structure Provided by the Front-end:
        +printJson({
            "data": {
                "formFields": {
                    "domain": "http://hhusban:6194",
                    "errorUrl": "http://hhusban:6194/action/showPreferences?\u003d",
                    "minIP": "10.5.5.8",
                    "maxIP": "",
                    "banner": "http://hhusban:6194/action/showPreferences?\u003d",
                    "journalUrl": "http://hhusban:6194/action/showPreferences?\u003d",
                    "language": "jsp",
                    "trustedProxyUserId": "-1"
                },
                "wwwhost": "www.websiteUrl.com",
                "product": "productName",
                "note": "Trusted Proxy Server Examples\u003c/h2\u003eThese are examples of Trusted Proxy Server (TPS) scripts using different languages. These will be officially ...etc"
            }
        })

    | #{''}
