extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    section.source_section
        include /specs/page-structure/helpers/print-json-mixin.jade
        include /specs/page-structure/helpers/print-js-code-mixin.jade

        h2 Usage
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/manage-alerts/templates/manage-alerts/manage-alerts-tmpl.jade')


    section.source_section
        h2 Examples

        h3 Manage Alerts
        .source_example
            div.container
                | !{pb.render("manage-alerts", "data.json")}
            
        h3 Manage all Alerts
        .source_example
            div.container
                | !{pb.render("manage-alerts", "data-all.json")}

    | #{''}