extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade

block content

    p This used to make sticky sidebar sections

    section.source_section
        h2 Default set-up
        p Use HTMl attributes to control sections

        h3 Structure
        p This is jade template for sidebar sections
        code.src-html.source_visible.source_example
            | .sticko__parent
            |             .sticko__md.dynamic-sticko
            |               .sticko__child
            |                   h5 Sections
            |                   .sections-block.scroll-to-target
            |                       ul.rlist
        p This is jade templates section titles
            code.src-html.source_visible.source_example
                | h2.section__title#sec1   Practice



    section.source_section
        h2 Example
        h3 Sidebar Sections
        markdown
            p Use `section__title` class for the section titles.
            p Use `sections-block` and add `ul.rlist` inside it tfor sidebar sections

        .source_example

            | !{pb.render("header", "header/demo/header-auto-hide")}
            main.content
                .container
                    .col-md-4.col-sm-5
                      .sticko__parent
                          .sticko__md.dynamic-sticko
                            .sticko__child
                                h5 Sections
                                .sections-block.scroll-to-target
                                    ul.rlist


                    .col-md-8.col-sm-7.sticko__side-content
                        h1 UX3 Articles
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.


                        h2.section__title#sec1   Practice
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor eget est et auctor. Mauris facilisis viverra nunc varius cursus. Curabitur tincidunt egestas nibh, at consectetur eros bibendum id. Sed fringilla, lorem ac cursus feugiat, dui nisl tempor sapien, in egestas magna mauris a mauris. Nam rutrum feugiat turpis. Donec commodo nibh semper tortor ornare, nec finibus turpis convallis. Aenean rhoncus ligula sed felis cursus ullamcorper. Aliquam laoreet et justo luctus vestibulum. Donec varius sed nulla sed feugiat. Phasellus id leo eget magna egestas suscipit.
                        p Maecenas sit amet egestas turpis, vitae vestibulum metus. Pellentesque luctus vehicula dolor, nec aliquam metus pretium eget. Praesent eget risus dui. Mauris ullamcorper volutpat tortor, in hendrerit est porttitor sit amet. Integer fringilla faucibus eros. Nunc a pellentesque nunc. Cras nec purus et risus ultricies commodo ac ut lorem.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor eget est et auctor. Mauris facilisis viverra nunc varius cursus. Curabitur tincidunt egestas nibh, at consectetur eros bibendum id. Sed fringilla, lorem ac cursus feugiat, dui nisl tempor sapien, in egestas magna mauris a mauris. Nam rutrum feugiat turpis. Donec commodo nibh semper tortor ornare, nec finibus turpis convallis. Aenean rhoncus ligula sed felis cursus ullamcorper. Aliquam laoreet et justo luctus vestibulum. Donec varius sed nulla sed feugiat. Phasellus id leo eget magna egestas suscipit.
                        p Maecenas sit amet egestas turpis, vitae vestibulum metus. Pellentesque luctus vehicula dolor, nec aliquam metus pretium eget. Praesent eget risus dui. Mauris ullamcorper volutpat tortor, in hendrerit est porttitor sit amet. Integer fringilla faucibus eros. Nunc a pellentesque nunc. Cras nec purus et risus ultricies commodo ac ut lorem.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.



                        h2.section__title#sec2   Books
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor eget est et auctor. Mauris facilisis viverra nunc varius cursus. Curabitur tincidunt egestas nibh, at consectetur eros bibendum id. Sed fringilla, lorem ac cursus feugiat, dui nisl tempor sapien, in egestas magna mauris a mauris. Nam rutrum feugiat turpis. Donec commodo nibh semper tortor ornare, nec finibus turpis convallis. Aenean rhoncus ligula sed felis cursus ullamcorper. Aliquam laoreet et justo luctus vestibulum. Donec varius sed nulla sed feugiat. Phasellus id leo eget magna egestas suscipit.
                        p Maecenas sit amet egestas turpis, vitae vestibulum metus. Pellentesque luctus vehicula dolor, nec aliquam metus pretium eget. Praesent eget risus dui. Mauris ullamcorper volutpat tortor, in hendrerit est porttitor sit amet. Integer fringilla faucibus eros. Nunc a pellentesque nunc. Cras nec purus et risus ultricies commodo ac ut lorem.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.



                        h2.section__title#sec3   Article
                        p Maecenas sit amet egestas turpis, vitae vestibulum metus. Pellentesque luctus vehicula dolor, nec aliquam metus pretium eget. Praesent eget risus dui. Mauris ullamcorper volutpat tortor, in hendrerit est porttitor sit amet. Integer fringilla faucibus eros. Nunc a pellentesque nunc. Cras nec purus et risus ultricies commodo ac ut lorem.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Sed suscipit molestie nunc, eget volutpat est efficitur vitae. Curabitur ac turpis accumsan risus dictum ultrices. Nulla et pellentesque velit. In sed lorem pulvinar, porttitor nunc vel, sollicitudin dui. Phasellus in nisl enim. Fusce ultrices metus non risus convallis ultricies. Phasellus nec nisl vel tellus egestas venenatis. Curabitur id vulputate urna, eu ornare quam. Suspendisse vitae maximus dui. Curabitur ac ipsum mauris. Vestibulum varius nibh vitae tellus euismod, a sodales mauris pulvinar. Donec sit amet tempus odio. Nam urna augue, fermentum at porttitor posuere, consequat a lorem. Donec lobortis mattis sapien. Proin convallis ac erat in placerat.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.
                        p Nam at nunc facilisis massa laoreet pharetra. Morbi sit amet mi blandit, faucibus orci eget, dignissim metus. Quisque fringilla dui sit amet augue blandit, eget tincidunt lectus interdum. Suspendisse aliquam magna ullamcorper purus condimentum venenatis. Aenean euismod magna ac vehicula vestibulum. Aliquam commodo consectetur nibh, vel eleifend purus sodales porttitor. Sed luctus auctor nibh, sit amet imperdiet est blandit in. Donec elementum consectetur eros, egestas feugiat metus finibus at. Etiam dui eros, dapibus ac ipsum a, venenatis lobortis tellus. Aenean at arcu justo. Duis vel enim gravida, tempor tellus non, congue velit. Proin vel orci nibh.

            | !{pb.render("footer", "footer/demo/footer")}


        | #{''}




