extends ../../../../../ux3/widgets/content-navigation/templates/content-navigation/content-navigation-tmpl.jade

block previousCaption
    i.icon-arrow_l
    span Previous Article

block nextCaption
    span Next Article
    i.icon-arrow_r