extends ../../../../../ux3/widgets/content-navigation/templates/content-navigation/content-navigation-tmpl.jade

block previousCaption
    i.icon-arrow_l
    span Previous Chapter

block nextCaption
    span Next Chapter
    i.icon-arrow_r