extends /specs/products/aps/page-structure/structure/templates/structure/layout-tmpl.jade
block content

    include /specs/page-structure/helpers/print-json-mixin.jade
    include /specs/page-structure/helpers/print-js-code-mixin.jade
    include /specs/page-structure/helpers/print-html-code-mixin.jade

    section.source_section
        h2 Holdings Widget
        h3 Include template
        +printJsCode('include /specs/ux3/widgets/holdings/templates/holdings/holdings-tmpl.jade')
        h3 Data
        p The following the JSON structure provided by the Front-end:
        +printJson({
            "data": {
                "institutionId": "",
                "errorMsg": "",
                "successMsg": ""
            }
        })
        .source_example
            | !{pb.render("holdings", "data.json")}
    | #{''}